<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wavenet.ding.qpps">

    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 录像硬件支持 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 文件读写 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 进入安装界面权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--//地图权限-->
    <!-- 地图权限 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!--android:persistent="true"-->
    <application
        android:name=".api.QPSWApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_ico_qidong"
        android:label="青浦排水"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <!--tools:replace="android:label"-->
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f8ca85b09fef55ce6d397ecc44dd1775" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AdminSubmitActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity android:name=".activity.WebView_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            ></activity>
        <service android:name=".xy.MyServiceYH" />
        <!-- 首页地图 -->
        <activity
            android:name=".activity.MainMapXJActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 巡查记录 -->
        <activity
            android:name=".activity.XJRecordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 巡查记录 -->
        <activity
            android:name=".activity.XJRecordDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 处置详情 -->
        <activity
            android:name=".activity.XJDealDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 管理员首页 -->
        <activity
            android:name=".activity.AdminActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 普通角色 -->
        <activity
            android:name=".activity.AdminNormalActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 登录 -->
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <!-- 修改密码 -->
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- webwiew -->
        <activity
            android:name=".activity.WebViewErrorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 录制视频 -->
        <activity
            android:name=".activity.TakePhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <!-- 视频播放 -->
        <activity
            android:name=".activity.PlayVideoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".demo.activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.MainMapYHActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >

        </activity>
        <!-- 纠错 -->
        <activity
            android:name=".activity.ErrorcorrectionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 纠错地图 -->
        <activity
            android:name=".activity.ErrorcorrectionmapActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 纠错html -->
        <activity
            android:name=".activity.WebViewErrorCorrectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 养护历史记录 -->
        <activity
            android:name=".activity.WebViewHistoryYHActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 巡检历史记录 -->
        <activity
            android:name=".activity.WebViewHistoryXJActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 调度员派单，审批列表 -->
        <activity
            android:name=".activity.WebViewDdyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 养护道路定位 -->
        <activity
            android:name=".activity.MapRoadActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 轨迹定位 -->
        <activity
            android:name=".activity.MapTrackActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 巡检事件定位 -->
        <activity
            android:name=".activity.MapLocaActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.MapLocaActivity1"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 从巡检和养护历史记录H5事件查询当天轨迹 -->
        <activity
            android:name=".activity.MapTrackCurActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 从巡检和养护历史记录H5事件查询轨迹 -->
        <activity
            android:name=".activity.MapTrackAllActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 从巡检历史记录H5事件执行进入处置界面 -->
        <activity
            android:name=".activity.XJDealActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 从巡检和养护历史记录H5事件执行进入轨迹播放 -->
        <activity
            android:name=".activity.MapTrackPlayActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 监测图 -->
        <activity
            android:name=".activity.MapJCActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 唤醒 -->
        <activity
            android:name=".activity.ActivityMyMiniWakeUp"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- <activity -->
        <!-- android:name=".activity.Main2Activity" -->
        <!-- android:label="@string/title_activity_main2"></activity> -->
        <provider
            android:name=".api.MyFileProvider"
            android:authorities="com.wavenet.ding.qpps.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_mypaths" />
        </provider>
        <!-- android:process=":remote" -->

        <!--android:priority="1000"-->
        <service
            android:name=".serverutils.LocService"
            android:enabled="true" />

        <!--<service-->
        <!--android:name=".serverutils.MyService"-->
        <!--android:priority="1000"-->
        <!--android:enabled="true" />-->

        <!--极光推送相关-->
        <service android:name=".jpush.PushService"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <receiver
            android:name=".jpush.PushMessageReceiver" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.wavenet.ding.qpps" />
            </intent-filter>
        </receiver>

    </application>

</manifest>